
<h1>Talk Coffee</h1>

<p class="des">This is list from customers on their favorite coffee. Feel free to post your favorite or gain exposure to your own brand!</p>

<p *ngIf="!coffee"><em>Loading...</em></p>

<div align="center" class="talk" *ngFor="let cof of coffee">
  <h3 class="fleft">{{ cof.productID }}. {{ cof.coffeeName }}</h3>
  <img class="coffeePic" src="{{ cof.picUrl }}" />
  <p class="description">{{ cof.description }}</p>
</div>

<div class="container" [hidden]="submitted">

  <form (ngSubmit)="onSubmit()" #menuForm="ngForm">

    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="model.CoffeeName" name="name"
             #name="ngModel" style="width: 50em;">
      <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Coffee's Name is required</div>
    </div>

    <div class="form-group">
      <label for="PicUrl">URL To Picture</label>
      <input type="text" class="form-control" id="PicUrl" required [(ngModel)]="model.PicUrl" name="PicUrl"
             #name="ngModel" style="width: 50em;">
      <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Picture's URL is required</div>
    </div>

    <div class="form-group">
      <label for="Description">Description</label>
      <input type="text" class="form-control" id="Description" required [(ngModel)]="model.Description" name="Description"
             #name="ngModel" style="width: 50em;">
      <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Coffee's Description is required</div>
    </div>

    <button type="submit" class="btn btn-info" [disabled]="!menuForm.form.valid">
      Post!
    </button>

  </form>

</div>

<div [hidden]="!submitted">
  <h2>Thank you for your post!</h2>
  <button class="btn btn-info" (click)="submitted=false">OK</button>
</div>
