
<h1>Available Coffee</h1>

<p class="fontStyled">Our current range of delicious coffee.</p>

<p *ngIf="!coffee"><em>Loading...</em></p>

<div class="talk">
  <table class='table' *ngIf="coffee">
    <thead>
      <tr>
        <th>ProductID</th>
        <th>CoffeeName</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cof of coffee">
        <td class="fontStyled">{{ cof.productID }}</td>
        <td class="fontStyled">{{ cof.coffeeName }}</td>
        <td class="fontStyled">{{ cof.price }}</td>
      </tr>
    </tbody>
  </table>
</div>
